.main{
text-align: center;
font-family: 'Unbounded', cursive;
font-size: 30px;
}
body, html{
    background: rgb(82,24,24);
background: linear-gradient(90deg, rgba(82,24,24,1) 0%, rgba(253,130,29,1) 50%, rgba(223,218,41,1) 100%);
}

.byakugan , .Jogan, .Ketsuryūgan, .Sharingan, .Mangekyo_Sharingan, .Rinnegan, .Rinne_Sharingan, .Tenseigan, .Dōjutsu_Shion, .Dōjutsu_Yome{
   text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opis{
    background-color: white;
    width: 350px;
    margin: 20px;

}