.main{
    background-color: white;
    border-radius: 25px;
    width: 700px;
  font-family: 'Unbounded', cursive;
  text-align: center;
font-size: 30px;

margin-left: auto;
margin-right: auto;

box-shadow: 1px 1px 42px 6px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 1px 42px 6px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 1px 42px 6px rgba(0,0,0,0.66); 
}

body, html{
    background: rgb(82,24,24);
background: linear-gradient(90deg, rgba(223,218,41,1) 0%, rgba(253,130,29,1) 50%, rgba(82,24,24,1) 100%);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    width: 300px;
  }
  
  a {
    text-decoration: none;
    margin: 30px 0;
    background-color: white;
    color: black;
    font-size: 35px;
    font-family: 'Unbounded';
    border-radius: 25px;
    text-align: center;
    
    box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.81);
-webkit-box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.81);
-moz-box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.81);

  }
a:hover{
    /*background: #FCAE1E;*/
    background: #FA8128;
}
.text{
  text-align: justify;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 800px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  top: 185px;
  left: 500px;
}
h3{
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 135px;
  left: 900px;
  
}
@media screen and (max-width: 900px){
 .mob {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 }
}
.article{
  border: 2px solid black;
  border-radius: 15px;
  height: 800px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 185px;
  left: 500px;
}